@{
    ViewData["Title"] = "Home Page";
}

<div id="products" class="row">
    <partial name="_ProductPartial" />
</div>

<div class="text-center mt-3">
    <button id="btnLoadMore" class="btn btn-primary">Load more </button>
</div>

@section Scripts {
    <script>
        let currentPage = 2;
        $("#btnLoadMore").click(function () {
            $.ajax({
                url: "/Home/LoadMore",
                data: { page: currentPage },
                success: function (data) {
                    if ($.trim(data) === '') 
                        $("#btnLoadMore").hide();
                     else 
                        $("#products").append(data);                  
                }
            });
            currentPage++;
        });
    </script>
}
